.review {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted #000;
  gap: 0.8rem;
  padding-bottom: 10px;

  &:last-child {
    border: none;
  }

  &__user {
  font-weight: 400;
}
}
