.dishCounter {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  &__btn {
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #ccc;
    }

    &:disabled {
      color: #888;
      border-color: #888;
      background-color: transparent;
      pointer-events: none;
    }
  }
}
