.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-theme-restaurant-bg);
  padding: 1rem;

  &_dark {
    background-color: var(--dark-theme-restaurant-bg);
  }

  @media (min-width: 768px) {
    padding: 2rem 3rem;
  }

  @media (min-width: 1100px) {
    padding: 2rem 5rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__tabs {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__subtitle {
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: 300;
    transition: color 0.3s ease;

    &_active {
      color: var(--active-link-color);
    }
  }
}
