.starRating {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.starRating__star {
  transition: all 0.1s linear;
  cursor: pointer;
}

.starRating__star:hover {
  transform: scale(1.2);
}

.starRating__count {
  margin-bottom: -0.1rem;
  font-style: italic;
}
