.restaurantsTabs {
  display: flex;
  justify-content: center;
}

.restaurantsTabs__list {
  display: flex;
  list-style: none;
  overflow-x: auto;
  padding-left: 0;
}

.restaurantsTabs__tabBtn {
  padding: 1rem 2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restaurantsTabs__tabBtn:hover {
  opacity: 0.8;
}

.restaurantsTabs__tabBtn_active {
  color: #9d2828;
}

@media (min-width: 768px) {
  .restaurantsTabs__list {
    overflow-x: visible;
  }
}
