:root {
  --light-theme-color: #212427;
  --light-theme-bg: #fff;
  --light-theme-restaurant-bg: #eeecec;
  --light-theme-sheet-bg: #eeecec;

  --dark-theme-color: #fff;
  --dark-theme-bg: #0F110C;
  --dark-theme-restaurant-bg: #212427;
  --dark-theme-sheet-bg: #212427;

  --active-link-color: #9d2828;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 200;
}

.container {
  max-width: 356px;
  margin: 0 auto;
  flex-grow: 1;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1100px) {
    max-width: 1100px;
  }
}
