.dishCounter {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  &__btn {
    border: 1px solid var(--light-theme-color);
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &_dark {
      border-color: var(--dark-theme-color);
    }

    &:hover {
      background-color: #d0cfcf;
      color: var(--light-theme-color);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
