.footer {
  color: var(--light-theme-color);
  background-color: var(--light-theme-bg);

  &_dark {
    background-color: var(--dark-theme-bg);
    color: var(--dark-theme-color);
  }

  &__wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 2rem 0;
      justify-content: start;
    }
  }

  &__copyright {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}
