.reviewForm {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.reviewForm__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reviewForm__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.reviewForm__textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 300px;
  max-width: 300px;
  background: transparent;
  outline: none;
  border: 1px solid #000;
}

.reviewForm__controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.reviewForm__btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.reviewForm__btn_clear {
  border: 1px solid #000;
}

.reviewForm__btn_clear:hover {
  border: 1px solid #ccc;
  background-color: #ccc;
}

.reviewForm__btn_submit {
  border: 1px solid #1a371b;
  background-color: #4aa84c;
  color: #fff;
}

.reviewForm__btn_submit:hover {
  background-color: #1a371b;
}
